*,
::after,
::before {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  color: #363636;
}

.no-scroll {
  overflow: hidden;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 104px;
  padding-left: 34px;
  border-bottom: 1px solid #d4d4d4;
}

.m-menu {
  height: 100%;
  display: flex;
  align-items: center;
  flex-grow: 1;
}

.line {
  height: 100%;
  width: 1px;
  margin-left: 34px;
  background-color: #d4d4d4;
}

.search-input {
  background-image: url("../images/search-icon.svg");
  background-repeat: no-repeat;
  background-position: center left;
  padding-left: 38px;
  border: none;
  outline: none;
  color: #a5a5a5;
  margin-left: 34px;
}

.navigation {
  margin-right: 44px;
  margin-left: auto;
}

.navigation-link {
  text-decoration: none;
  color: #363636;
  margin-right: 18px;
}

.navigation-link:last-child {
  margin-right: 0;
}

.button-group {
  height: 100%;
  border-left: 1px solid #d4d4d4;
}

.mobile-buttons {
  display: none;
}

.m-menu-button,
.search-button {
  padding: 5px;
  background-color: #fff;
  border: none;
  outline: none;
  cursor: pointer;
}

.menu-line {
  display: block;
  height: 2px;
  width: 16px;
  flex-basis: 16px;
  background-color: #000;
  margin: 3px 0;
  border-radius: 40px;
}

.button {
  height: 100%;
  cursor: pointer;
}

.sign-up {
  color: #5671f6;
  border: none;
  outline: none;
  background-color: #fff;
  padding: 0 34px;
}

.login {
  color: #fff;
  border: none;
  outline: none;
  background-color: #5671f6;
  padding: 0 50px;
}

.film {
  padding: 80px 0;
  border-bottom: 1px solid #d4d4d4;
}

.container {
  max-width: 1130px;
  margin: 0 auto;
}

.film-wrapper {
  display: flex;
}

.film-trailer {
  display: flex;
  flex-direction: column;
  margin-right: 60px;
}

.poster {
  width: 358px;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}

.trailer-button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  border: 1px solid #d4d4d4;
  border-radius: 0px 0px 5px 5px;
  text-decoration: none;
  outline: none;
  padding: 25px 0;
  cursor: pointer;
}

.trailer-button__icon {
  margin-right: 14px;
}

.trailer-button__text {
  font-size: 16px;
  line-height: 19px;
  color: #5671f6;
}

.film-title {
  font-weight: 900;
  font-size: 36px;
  line-height: 42px;
  margin-top: 0;
  margin-bottom: 16px;
}

.film-subtitle {
  display: block;
  margin-bottom: 32px;
  color: #a5a5aa;
}

.film-description {
  margin-bottom: 50px;
  font-size: 14px;
  line-height: 150%;
  max-width: 514px;
  color: #000000;
}

.about-film {
  display: flex;
  margin-bottom: 50px;
}

.about-text {
  display: block;
  font-size: 16px;
  line-height: 19px;
  margin-bottom: 16px;
}

.about-text__bold {
  display: inline-block;
  vertical-align: top;
  width: 100px;
}

.left-side {
  margin-right: 40px;
}

.rating {
  display: flex;
  align-items: center;
}

.rating-counter {
  padding: 34px 24px 33px 23px;
  border: 1px solid #5671f6;
  border-radius: 10px;
  margin-right: 28px;
  font-weight: bold;
  font-size: 28px;
  line-height: 33px;
  color: #5671f6;
}

.rating-title {
  margin-top: 0;
  margin-bottom: 12px;
}

.rating-text {
  display: block;
  margin-bottom: 7px;
  line-height: 19px;
}

.cast {
  padding-top: 70px;
  padding-bottom: 100px;
}

.tabs {
  display: flex;
  align-items: center;
  margin-bottom: 60px;
}

.section-title {
  font-weight: normal;
  font-size: 24px;
  line-height: 28px;
  color: #a5a5a5;
  cursor: pointer;
  margin-right: 30px;
}

.section-title.active {
  color: #363636;
  font-weight: 900;
}

.tabs-content {
  display: none;
  align-items: center;
  flex-wrap: wrap;
}

.tabs-content.visible {
  display: flex;
}

.card {
  display: flex;
  align-items: center;
  flex-basis: 25%;
  margin-bottom: 35px;
}

.card-img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 50%;
  margin-right: 20px;
}

.name {
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
  color: #5671f6;
  margin-top: 0;
  margin-bottom: 6px;
}

.card-text {
  font-size: 16px;
  line-height: 19px;
  color: #a5a5a5;
}

.news {
  background-color: #f3f3f3;
  padding-top: 70px;
  padding-bottom: 100px;
}

.news-title {
  margin-bottom: 65px;
}

.news-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.news-card {
  padding: 30px;
  flex-basis: 23%;
  background-color: #fff;
  border-radius: 5px;
}

.news-date {
  font-size: 14px;
  line-height: 16px;
}

.news-text {
  font-weight: 900;
  font-size: 14px;
  line-height: 16px;
  color: #000000;
  margin-top: 14px;
}

.button-next {
  display: none;
  background-color: transparent;
  position: absolute;
  top: 50%;
  right: 0;
  border: none;
  outline: none;
  transform: translateY(-50%);
  z-index: 99;
  cursor: pointer;
}

@media (max-width: 1200px) {
  .container {
    max-width: 960px;
  }
  .card-img {
    width: 70px;
    height: 70px;
  }
  .header {
    height: 90px;
  }
  .sign-up {
    padding-left: 20px;
    padding-right: 20px;
  }

  .navigation {
    margin-right: 20px;
  }
  .search-input {
    margin-left: 20px;
  }
  .navigation-link {
    margin-right: 10px;
    font-size: 16px;
  }
  .line {
    margin-left: 20px;
  }
}

@media (max-width: 991px) {
  .container {
    max-width: 760px;
  }

  .navigation {
    display: none;
  }

  .search-input {
    margin-right: auto;
  }

  .film-title {
    font-size: 24px;
    line-height: 1.4;
  }
  .film-description,
  .about-film {
    margin-bottom: 30px;
  }
  .about-text__bold {
    display: block;
    margin-bottom: 8px;
  }
  .cast {
    padding-top: 35px;
    padding-bottom: 50px;
  }
  .tabs {
    margin-bottom: 25px;
  }
  .card-img {
    width: 100px;
    height: 100px;
  }
  .card {
    flex-basis: 50%;
  }
  .news {
    padding-top: 35px;
    padding-bottom: 50px;
  }
  .news-title {
    margin-bottom: 35px;
  }
  .news-card {
    flex-basis: 48%;
    margin-bottom: 20px;
  }
}
@media (max-width: 768px) {
  .container {
    max-width: 560px;
  }
  .m-menu {
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    position: fixed;
    left: 0;
    top: 68px;
    right: 0;
    bottom: 0;
    background: #5671f6;
  }
  .m-menu.active {
    display: flex;
  }

  .navigation {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
  }

  .navigation-link {
    color: #fff;
    margin-right: 0;
    margin-bottom: 18px;
  }
  .navigation-link:last-child {
    margin-bottom: 0;
  }

  .sign-up {
    background-color: transparent;
    color: #ffffff;
    margin-bottom: 30px;
  }

  .button-group {
    border: none;
    height: auto;
    display: flex;
    flex-direction: column;
  }

  .search-input {
    width: 260px;
    height: 50px;
    border: none;
    border-radius: 5px;
    background-image: none;
    margin: 0;
  }
  .news-card {
    max-width: 90%;
  }
  .header {
    height: 80px;
    padding-left: 2.5%;
    padding-right: 2.5%;
  }

  .button-next {
    display: block;
  }
  .film-wrapper {
    flex-wrap: wrap;
  }
  .film {
    padding-top: 60px;
  }
  .film-info {
    order: -1;
    margin-bottom: 30px;
  }
  .line {
    display: none;
  }

  .mobile-buttons {
    display: flex;
  }
}

@media (max-width: 576px) {
  .container {
    width: 95%;
  }
  .film-title {
    font-size: 20px;
    line-height: 23px;
  }
  .film-subtitle {
    font-size: 14px;
    line-height: 16px;
    margin-bottom: 26px;
  }
  .film-description {
    font-size: 14px;
    line-height: 150%;
    margin-bottom: 40px;
  }
  .film-trailer,
  .poster {
    width: 100%;
  }
  .film-trailer {
    margin-bottom: 30px;
    margin-right: 0;
  }
  .film-info {
    order: 1;
    margin-bottom: 0;
  }
  .about-film {
    flex-wrap: wrap;
    flex-direction: column;
    margin-bottom: 40px;
  }
  .about-text__bold {
    display: inline-block;
  }
  .card {
    flex-basis: 100%;
    margin-bottom: 20px;
  }
  .card-img {
    width: 60px;
    height: 60px;
  }
  .tabs {
    margin-bottom: 35px;
  }
  .search-input {
    display: none;
  }
}
